altgraph==0.17.5
asgiref==3.8.1
dj-database-url==2.1.0
Django==4.2.8
django-bootstrap5==23.4
django-cors-headers==4.3.1
django-jazzmin==3.0.5
djangorestframework==3.14.0
djangorestframework_simplejwt==5.5.0
gunicorn==21.2.0
joblib==1.5.3
numpy==2.4.1
openpyxl==3.1.5
openslide-bin==4.0.0.11
openslide-python==1.4.3
pefile==2024.8.26
reportlab==4.2.4
pypdf==4.3.0
pillow==11.0.0
psycopg2-binary==2.9.10
pyinstaller==6.18.0
pyinstaller-hooks-contrib==2026.0
PyJWT==2.9.0
pynput==1.8.1
pystray==0.19.5
python-decouple==3.8
pytz==2025.2
scikit-learn==1.8.0
scipy==1.17.1
setuptools==78.1.1
six==1.17.0
sqlparse==0.5.3
threadpoolctl==3.6.0
tzdata==2025.2
wheel==0.45.1
whitenoise==6.6.0
